
/*
.container {
margin: 0; padding: 0;
}*/

/** rounded table struggle
https://stackoverflow.com/questions/18729638/rounded-tables-in-twitter-bootstrap-3
**/

.table-curved {
    border-collapse: separate;
    border-radius: 8px;
    /*border: 1px solid red;*/
    border: 1px solid black;
}

/* first and last ths */
.table-curved th:first-child {
    border: 0;
    border-bottom: 1px solid black;
}
.table-curved th:last-child {
    border: 0;
    border-bottom: 1px solid black;
}

/* normal ths */
.table-curved th {
    border: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

/*.table-curved td {
    padding-right: 5px;
    padding-left: 5px;
}*/
/*
.table-curved th:only-child{
    border-radius: 8px 8px 0 0;
}
.table-curved tr:only-child{
    border-radius: 0 0 8px 8px;
}
.table-curved tr:only-child td:only-child{
    border-radius: 0 0 8px 8px !important;
}
*/

/* normal tds */
.table-curved td {
    border-left: 1px solid black;
    /*border-bottom: 1px solid black;*/
    border-bottom: 0;
}
.table-curved td:first-child {
    border: 0;
}
.table-curved tr:last-child{
    border-top: 0;
}
.table-curved tr:last-child td:first-child{
    border-radius: 0 0 0px 8px;
    border: 0;
    /*border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none !important;*/
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
    border: 0;
}

/* before last have both borders, last have none
otherwise border won't align because of left/right border mismatch */
.table-curved th:nth-last-child(2) {
    border-right: 1px solid black;
}
.table-curved td:nth-last-child(2) {
    border-right: 1px solid black;
}
.table-curved td:last-child {
    border: 0;
}
.table-curved tr {
    border: 1px solid black;
}


/** end of rounded table struggle **/

.header-cartouche {
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    word-break: break;
    width: 100%;
}

.header-table {

    table-layout: fixed;
    word-break: break;
    width: 100%;
}

.header-table td {

    padding: 10px;
    text-align: center;
}

.header-table th {

    padding: 10px;
    text-align: center;
}

.summary-table-absolute {
    /*position: absolute;
    bottom: 0px;*/
    position: absolute;
    /*top: 800px;
    bottom: 0;*/
    page-break-inside: avoid;

    width: 97% !important;
}

.upper-part-table {
    width: 100%;
}

.upper-part-table td, .upper-part-table th {
    text-align: center;
    padding: 10px;
}

.summary-table {
    width: 100%;
}

.summary-table td, .summary-table th {
    text-align: center;
    padding: 10px;
}

/*
.rounded-table {

    border-color: 1px solid black;

    width: 100%;
}

.rounded-table td, th {

    padding: 10px;
    text-align: center;
}
*/

.cadre-titre {
    /* display: flex;
     flex-direction: column; */
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cadre-titre h3 {
    font-size: 100%;
    border-bottom: 1px solid black;
    background-color: cyan;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.cadre-titre h3:nth-child(2) {
    border-bottom: none;
}

.cadre-titre p {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    border-bottom: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

/** lines table **/

.lines-table {

    width: 100%;
    margin-bottom: 15px;
}

.lines-table th {
    white-space: nowrap;
    text-align: center;
}

/* we could imagine something like this : */
.lines-table tbody tr:first-child td {
    padding-top: 12px;
}

.lines-table td {
    padding: 3px 5px 3px 5px;
    text-align: center;
}

.lines-table td.right-align {
    text-align: right;
}

/** lines table end **/

.vatnums-table th {
    font-weight: normal;
}

.spacer-div {
    /* background-color: green; */
    height: 50px;
}

/* bl stuff */
.bl-warning {
    /* background-color: green; */
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bl-spacer-div {
    height: 70px;
}

/* invoice stuff */
.invoice-warning-one {
    /* background-color: green; */
    text-align: left;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invoice-warning-two {
    /* background-color: green; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_logo {
    text-align: center;
}

.footer_logo img {
    width: 180px;
    height: 60px;
}

/* header stuff */
.partner-name {
    font-weight: bold;
}

.address-div {
    /* border: 1px solid black; */
    padding-left: 35px;
    padding-right: 35px;
}

/* comment stuf */

tr.line-comment td {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
    text-align: left;
}

/* edge case: comment tr is last line of table */
/* ugliness to palliate to the wkhtmltopdf bug that causes
inexistent borders to be drawn when they don't exist when some
border is set on the last TD of a table */

tr.line-comment:last-child {
    border: 0;
}

/* idk why we need the !important ...*/
tr.line-comment:last-child td {
    border: 0 !important;
    padding: 0;
}

tr.line-comment:last-child td p {
    padding: 3px 5px 3px 5px;
    border-top: 1px solid black;
}