
/*
.container {
margin: 0; padding: 0;
}*/

/** rounded table struggle
https://stackoverflow.com/questions/18729638/rounded-tables-in-twitter-bootstrap-3
**/

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border-radius: 8px;
    border-left: 0px;
}
.table-curved td, .table-curved th {
    /*border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;*/
}
.table-curved th {
    /*border-top: none;*/
}
.table-curved th:first-child {
    border-radius: 8px 0 0 0;
    border-left: 1px solid black;
}
.table-curved th:last-child {
    border-radius: 0 8px 0 0;
}
.table-curved th {
    border-radius: 0 0px 0 0;
    border: 1px solid black;
    border-left: none;
}
.table-curved th:only-child{
    border-radius: 8px 8px 0 0;
}
.table-curved tr:only-child{
    border-radius: 0 0 8px 8px;
}
.table-curved tr:only-child td:only-child{
    border-radius: 0 0 8px 8px !important;
    /*background-color: red;*/
}
.table-curved td {
    border-radius: 0 0 0 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.table-curved tr:last-child td:first-child{
    border-radius: 0 0 0px 8px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/** end of rounded table struggle **/

.header-cartouche {
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    word-break: break;
    width: 100%;
}

.header-table {

    /*
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: 1px solid black; */

    table-layout: fixed;
    word-break: break;
    width: 100%;
}

.header-table td {

    /*
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    */

    padding: 10px;
    text-align: center;
}

.summary-table {
    /*position: absolute;
    bottom: 0px;*/
    position: absolute;
    /*top: 800px;
    bottom: 0;*/
    page-break-inside: avoid;

    width: 97% !important;
}

.rounded-table {

    /*
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    */

    /*border-collapse: separate;*/

    border-color: 1px solid black;

    width: 100%;
}

.rounded-table td, th {
    /* background-color: red; */
    /* border-right: 1px solid black; */

    /*
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    */

    padding: 10px;
    text-align: center;
}

.cadre-titre {
    /* display: flex;
     flex-direction: column; */
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cadre-titre h3 {
    font-size: 100%;
    border-bottom: 1px solid black;
    background-color: cyan;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.cadre-titre h3:nth-child(2) {
    border-bottom: none;
}

.cadre-titre p {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    border-bottom: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.lines-table {

    /*
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: 1px solid black;
    */

    width: 100%;
    margin-bottom: 15px;
}

.lines-table td {
    /* border: 1px solid black;
    border-right: 1px solid black;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    */
    padding: 10px;
    text-align: center;
}

.lines-table th {
    white-space: nowrap;
    text-align: center;
}

.lines-table td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right:1px solid black;
    border-left: none;
    border-bottom: none;
    text-align: left;
}

.lines-table td:first-child {
    /* background-color: red; */
    border-left: 1px solid black;
}

.lines-table tr:last-child {
    border-bottom: 1px solid black;
}

.lines-table tr:last-child > td {
    border-bottom: 1px solid black;
}

.vatnums-table th {
    font-weight: normal;
}

.spacer-div {
    /* background-color: green; */
    height: 50px;
}

/* bl stuff */
.bl-warning {
    /* background-color: green; */
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bl-spacer-div {
    height: 70px;
}

/* invoice stuff */
.invoice-warning-one {
    /* background-color: green; */
    text-align: left;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invoice-warning-two {
    /* background-color: green; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_logo {
    text-align: center;
}

.footer_logo img {
    width: 180px;
    height: 60px;
}

/* header stuff */
.partner-name {
    font-weight: bold;
}

.address-div {
    /* border: 1px solid black; */
    padding-left: 35px;
    padding-right: 35px;
}

/* comment stuf */

/*
tr.line-comment {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
}
*/

tr.line-comment td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
}

tr.line-comment p {
    margin:0;
    padding: 5px;
    text-align: left;
}

/* edge case: comment tr is last line of table */
/*tr.line-comment:last-child {
    border-radius: 0 0 8px 8px;
}*/

tr.line-comment:last-child td:only-child {
    margin:0;
    padding: 5px;
    text-align: left;
    border-radius: 0 0 8px 8px;
}